<html>
<head>
    <meta charset="UTF-8">
    <title>Лучшая в мира лабороторная работа 10/10</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div id="app">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Добро пожаловать</a>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button"><a style="" href="/logout">Выход</a>
        </button>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col" @click="sendFromPlotDot()">
                <svg version="1.1"
                     baseProfile="full"
                     width="300" height="300"
                     xmlns="http://www.w3.org/2000/svg"
                     id="svg-plot">
                    <line x1="0" y1="150" x2="300" y2="150" stroke-width="1" stroke="#000720"/>
                    <line x1="150" y1="0" x2="150" y2="300" stroke-width="1" stroke="#000720"/>
                    <!-- стрелочки -->
                    <line x1="300" y1="150" x2="296" y2="146" stroke-width="1" stroke="#000720"/>
                    <line x1="300" y1="150" x2="296" y2="154" stroke-width="1" stroke="#000720"/>
                    <line x1="150" y1="0" x2="146" y2="4" stroke-width="1" stroke="#000720"/>
                    <line x1="150" y1="0" x2="154" y2="4" stroke-width="1" stroke="#000720"/>
                    <!-- разметка размера -->
                    <line x1="270" y1="148" x2="270" y2="152" stroke="#000720"/>
                    <text x="265" y="140">R</text>
                    <line x1="210" y1="148" x2="210" y2="152" stroke="#000720"/>
                    <text x="200" y="140">R/2</text>
                    <line x1="90" y1="148" x2="90" y2="152" stroke="#000720"/>
                    <text x="75" y="140">-R/2</text>
                    <line x1="30" y1="148" x2="30" y2="152" stroke="#000720"/>
                    <text x="20" y="140">-R</text>
                    <line x1="148" y1="30" x2="152" y2="30" stroke="#000720"/>
                    <text x="156" y="35">R</text>
                    <line x1="148" y1="90" x2="152" y2="90" stroke="#000720"/>
                    <text x="156" y="95">R/2</text>
                    <line x1="148" y1="210" x2="152" y2="210" stroke="#000720"/>
                    <text x="156" y="215">-R/2</text>
                    <line x1="148" y1="270" x2="152" y2="270" stroke="#000720"/>
                    <text x="156" y="275">-R</text>
                    <!-- фигуры в центре -->

                    <rect x="90" y="30" width="60" height="120" fill="#75A9D5" fill-opacity="0.4" stroke="#986E6E"/>
                    <polygon points="150,150 150,30 270,150" fill="#75A9D5" fill-opacity="0.4" stroke="#986E6E"/>
                    <path d="M150 150
                        L 30 150
                        A 120 120, 0, 0, 0, 150 270 Z" fill="#75A9D5" fill-opacity="0.4" stroke="#986E6E"></path>
                    <template v-for="dot in dotsList">
                        <circle :cr="rValue" :cx="dot.x*120/rValue + 150" :cy="150 - (dot.y*120/rValue)" r="3"
                                :fill="setPointColor(dot)"
                                :stroke="setPointColor(dot)"></circle>
                    </template>
                </svg>
            </div>
            <div class="col mt-5" id="input-form">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-x">X</span>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" @click="pressButtonX(-2)" class="btn btn-secondary">-2</button>
                            <button type="button" @click="pressButtonX(-1.5)" class="btn btn-secondary">-1.5</button>
                            <button type="button" @click="pressButtonX(-1)" class="btn btn-secondary">-1</button>
                            <button type="button" @click="pressButtonX(-0.5)" class="btn btn-secondary">-0.5</button>
                            <button type="button" @click="pressButtonX(0)" class="btn btn-secondary">0</button>
                            <button type="button" @click="pressButtonX(0.5)" class="btn btn-secondary">0.5</button>
                            <button type="button" @click="pressButtonX(1)" class="btn btn-secondary">1</button>
                            <button type="button" @click="pressButtonX(1.5)" class="btn btn-secondary">1.5</button>
                            <button type="button" @click="pressButtonX(2)" class="btn btn-secondary">2</button>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-y">Y</span>
                        </div>
                        <input placeholder="Y: -5...3" required v-model="yValue" type="text" maxlength="8" type="text"
                               class="form-control">
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-r">R</span>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" @click="pressButtonR(-2)" class="btn btn-secondary">-2</button>
                            <button type="button" @click="pressButtonR(-1.5)" class="btn btn-secondary">-1.5</button>
                            <button type="button" @click="pressButtonR(-1)" class="btn btn-secondary">-1</button>
                            <button type="button" @click="pressButtonR(-0.5)" class="btn btn-secondary">-0.5</button>
                            <button type="button" @click="pressButtonR(0)" class="btn btn-secondary">0</button>
                            <button type="button" @click="pressButtonR(0.5)" class="btn btn-secondary">0.5</button>
                            <button type="button" @click="pressButtonR(1)" class="btn btn-secondary">1</button>
                            <button type="button" @click="pressButtonR(1.5)" class="btn btn-secondary">1.5</button>
                            <button type="button" @click="pressButtonR(2)" class="btn btn-secondary">2</button>
                        </div>
                    </div>

                    <div class="form-buttons">
                        <input class="btn btn-primary" type="button" value="Отправить"
                               @click="sendNewDot()">
                        <input class="btn btn-danger" type="button" @click="deleteUserDots()"
                               value="Удалить все точки"/>
                    </div>

                </form>
                <div>
                    <transition name="fade">
                        <label v id="error-message" class="err-msg msg">{{text_err_msg}}</label>
                    </transition>
                </div>
            </div>

            <div class="table row mt-5">
                <table class="res-table">
                    <thead class="thead-dark">
                    <th scope="col">X</th>
                    <th scope="col">Y</th>
                    <th scope="col">R</th>
                    <th scope="col">RES</th>
                    </thead>
                    <tr v-for="dot in dotsList">
                        <td>{{round(dot.x)}}</td>
                        <td>{{round(dot.y)}}</td>
                        <td>{{dot.r}}</td>
                        <td>{{dot.result}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>


<script type="application/javascript">


    function isNumber(n) {
        return !isNaN(parseFloat(n)) && !isNaN(n - 0)
    }

    let urlP = new URLSearchParams(window.location.search);


    var app = new Vue({
        el: '#app',
        data: {
            xValue: '',
            yValue: '',
            rValue: '1',
            rChange: false,
            text_valid: false,
            text_err_msg: '',
            dotsList: [],
            url: {
                dotAdder: '/points',
                dotClear: '/clear'
            }
        },
        methods: {
            pressButtonR(val) {
                if(val < 0){
                    this.text_err_msg = "Отрицательный радиус";
                    return;
                }else{
                    if(this.text_err_msg === "Отрицательный радиус"){
                        this.text_err_msg = "";
                    }
                }
                var listButtons = document.querySelectorAll("button");
                for (var i = 10; i < 19; i++) {
                    if (Number(listButtons[i].innerText) === val) {
                        listButtons[i].classList.add("active");
                    }
                    if (Number(listButtons[i].innerText) === this.rValue) {
                        listButtons[i].classList.remove("active");
                    }
                }
                this.rChange = true;
                this.rValue = val;
            },

            pressButtonX(val) {
                const listButtons = document.querySelectorAll("button");
                for (let i = 1; i < 10; i++) {
                    if (Number(listButtons[i].innerText) === val) {
                        listButtons[i].classList.add("active")
                    }
                    if (Number(listButtons[i].innerText) === this.xValue) {
                        listButtons[i].classList.remove("active")
                    }
                }
                this.xValue = val
            },

            validText() {
                if (this.yValue === '') {
                    this.text_err_msg = "Y is required";
                    this.text_valid = false;
                    return false;
                } else if (!isNumber(this.yValue)) {
                    this.text_err_msg = "Y need to be a number";
                    this.text_valid = false;
                    return false;
                } else if (!((this.yValue > -5) && (this.yValue < 3))) {
                    this.text_err_msg = "Y out of range";
                    this.text_valid = false;
                    return false;
                } else {
                    this.text_valid = true;
                    this.text_err_msg = "";
                    return true;
                }
            },

            sendFromPlotDot() {
                const plot_container = document.getElementById("svg-plot");
                let rect = plot_container.getBoundingClientRect();
                console.log(event.clientX + " " + event.clientY);
                let y_dot = (event.clientY - rect.top);
                let x_dot = (event.clientX - rect.left);
                let y = (150 - y_dot);
                let x = (-150 + x_dot);
                if (this.rChange) {
                    let R = this.rValue;
                    y = (y / 120) * R;
                    x = (x / 120) * R;
                    let oldX = this.xValue;
                    let oldY = this.yValue;
                    this.xValue = this.round(x);
                    this.yValue = this.round(y);
                    this.sendNewDot();
                    this.xValue = oldX;
                    this.yValue = oldY;
                } else {
                    this.text_err_msg = "Укажите R"
                }
            },

            validXYR() {
                if (this.xValue !== "" && this.yValue !== "" && this.rChange && this.validText()) {
                    this.text_err_msg = "";
                    return true;
                } else {
                    if (this.xValue === "") {
                        this.text_err_msg = "Введите x";
                        return false;
                    }
                    if (!this.rChange) {
                        this.text_err_msg = "Введите r";
                        return false;
                    }
                }
            },

            sendNewDot() {
                if (this.validXYR()) {
                    axios.post(this.url.dotAdder, {
                        x: this.xValue,
                        y: this.yValue,
                        r: this.rValue
                    }).then((response) => {
                        this.requestAllDots();
                    });
                }
            },

            round(num) {
                return Math.floor(num * 100) / 100;
            },

            deleteUserDots() {
                axios.delete(this.url.dotClear).then((response) => {
                    this.requestAllDots();
                });
            },

            requestAllDots() {
                axios.get(this.url.dotAdder).then((response) => {
                    this.dotsList = response.data;
                });
            },

            setPointColor(dot) {
                if (dot.result) {
                    return "green";
                } else {
                    return "#AD2D2D";
                }
            },
        },
        created: function () {
            this.requestAllDots();
        },

    });
</script>

</html>
