<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Login page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <style>
        body {
            margin: 0;
            width: 100%;
            height: 100vh;
            font-family: "Exo", sans-serif;
            color: #000000;
        }
    </style>
</head>
<body>
<div class="container" id="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading" style="text-align: center">ВХОД</h2>
        <div v-if="error != null" class="alert alert-danger">{{err_msg}}</div>
        <div v-if="logout != null" class="alert alert-success">{{logout_msg}}</div>
        <p>
            <label for="username" class="sr-only">Логин</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Логин" required
                   autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>

    </form>
    <form class="form-signin" method="post" action="/register">
        <a href="/reg">
            <button class="btn btn-outline-dark btn-block" type="button">Регистрация</button>
        </a>
    </form>
</div>
</body>
<script type="application/javascript">
    let urlP = new URLSearchParams(window.location.search);
    new Vue({
        el: '#container',
        data: {
            error: urlP.get('error'),
            logout: urlP.get('logout'),
            err_msg: 'Что-то ты неправильно ввел.',
            logout_msg: 'Ты вышел, хоть на этом спасибо.'
        }
    });
</script>
</html>