<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Регистрация</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <style>
        body {
            margin: 0;
            width: 100%;
            height: 100vh;
            font-family: "Exo", sans-serif;
            color: #fff;
        }
    </style>
</head>
<body>

<div class="container" id="container">
    <form class="form-signin" method="post" action="/registration">
        <h2 class="form-signin-heading" style="text-align: center; color:#007bff">РЕГИСТРАЦИЯ</h2>
            <div v-if="error != null" class="alert alert-danger">{{err_msg}}</div>
        <p>
            <label for="username" class="sr-only">Логин</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Логин" required
                   autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Пароль</label>
            <input v-model="pass" type="password" id="password" name="password" class="form-control"
                   placeholder="Пароль" required>
        </p>
        <p>
            <label for="confirm_password" class="sr-only">Пароль</label>
            <input v-model="conf_pass" type="password" id="confirm_password" name="confirm_password"
                   class="form-control" placeholder="Потдверждение пароля" required>
        </p>
        <transition name="fade">
            <div v-if="pass_err" class="alert alert-danger">{{pass_err_msg}}</div>
        </transition>
        <p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" disabled :disabled="pass_err">Регистрация
            </button>
        </p>
        <input type="checkbox" style="color: grey">
        <i style="color: grey;"> Мне все равно на мои персональные данные!</i>
    </form>
    <form class="form-signin">
        <a href="login">
            <button class="btn btn-outline-dark btn-block" type="button">Вход</button>
        </a>
    </form>
</div>
</div>
</body>
<script type="application/javascript">
    let urlP = new URLSearchParams(window.location.search);
    new Vue({
        el: '#container',
        data: {
            pass_err: false,
            error: urlP.get('error'),
            err_msg: 'К сожалению ты не такой оригинальный. Логин уже занят ;(',
            pass_err_msg: 'Пароли не совпадают. Придумай пароль получше :)',
            pass: '',
            conf_pass: ''
        },
        beforeUpdate: function () {
            this.pass_err = !(this.pass === this.conf_pass);
        }
    });
</script>
</html>